body {
  font-family: "Open Sans";
  padding: 0;
  font-size: 25;
  margin: 0;
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}
header {
  background-color: #212121;
}

img {
  width: 10rem;
  height: 8rem;
}
